* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container */
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Title Section*/
.container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px 0;

}

.title img {
    max-width: 75px;
}

.title h1 {
    font-weight: 700;
    margin-left: 10px;
}

/* Main Content */
.main {
    background-color: skyblue;
    border-radius: 5px;
    width: 90%;
    max-width: 980px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    color: white;
}

.temp-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main img {
    max-width: 100px;
    margin: 0 15px;
}

.temp-info p {
    margin: 0 15px;
    font-weight: 700;
    font-size: 4.5rem;
}

.place-info {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.place-info #api_place {
    font-weight: 900;
    font-size: 1.8rem;
}



.weather-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

/* Search Option */
.search {
    background-color: rgba(70, 131, 180, 0.623);
    border-radius: 5px;
    /* max-height: 30vh; */
    height: 20vh;
    width: 90%;
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.search #search_place {
    margin: 0 10px;
    min-height: 2.5em;
    width: 70%;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

.search #submit {
    width: 20%;
    height: 2.6em;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
}

/* Error Implementation */
#api_error {
    color: red;
    font-size: 1.2rem;
}

@media (max-width: 450px) {
    .temp-info {
        flex-direction: column;
        margin: 10px auto;
    }

    .place-info > p{
        margin: 10px auto;
    }

    .search {
        flex-direction: column;
    }

    #submit {
        margin: 10px auto;
    }
    .title {
        flex-direction: column;
    }
}